<form ng-submit="addBank">
  <label for="bank_name">Bank Name</label>
  <input type="text" name="bank_name" ng-model="newBank.name"/>

  <label for="address">Address</label>
  <input type="text" name="address" ng-model="newBank.address"/>

  <label for="cityState">City, State (ie. City, WA)</label>
  <input type="text" name="cityState" ng-model="newBank.cityState"/>

  <label for="zip">Zip Code</label>
  <input type="text" name="zip" ng-model="newBank.zip"/>

  Open Saturdays<br>
  <input type="checkbox" name="open_saturday" ng-model="newBank.saturday"/>
  <imput type="submit" value="Add a new bank">
</form>
