<div class="content">
  <form name="contactForm" ng-submit="sendMessage()" novalidate>
    <input type="text" placeholder="Name" name="name" ng-model="contact.name" ng-required="true">
    <div ng-show="contactForm.name.invalid.$touched && contactForm.name.$invalid">
      <small style="display: block; color: red; text-align: center;"></small>
    </div>
    <input type="email" placeholder="Email "name="Email" ng-model="contact.email" ng-required="true">
    <div ng-show="contactForm.email.invalid.$touched && contactForm.email.$invalid">
      <small style="display: block; color: red; text-align: center;"></small>
    </div>
    <textarea placeholder="Your Message" name="message" ng-model="contact.mesage" ng-required="true" width="100%"></textarea>
    <input type="submit" value="send" ng-disabled="contactForm.$invalid">
  </form>

</div>
